*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.logo-jump{
    height: 24px;
    width: 24px;
    float: left;
    text-decoration: none;
}
.navbar{
    background-color: rgb(237, 232, 232);
    overflow: hidden;
    padding: 5px 50px;
}
.navbar .navbar-links{
    float: right;
}
.navbar .navbar-links a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}
.navbar-two{
    overflow: hidden;
    display: flex;
    padding: 0 30px;
}

.navbar-two a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin: 0 10px;
}
.navbar-two ul li img{
    width: 70px;
    height: 70px;
}
.navbar-two ul li{
    text-decoration: none;
    list-style-type: none;
}
.links-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:70%;
}
.search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#search{
    height: 30px;
    border: none;
    background-color: rgb(219, 216, 216);
    border-radius: 20px;

}
.grid-item img{
    height: 317px;
    width: 317px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap :50px;
    height: 400px;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    
}

.grid-item .description{
    
    width: 70%;

}
.description ul li{
    list-style-type: none;
    line-height: 23px;
}
.description a{
    text-decoration: none;
}
.description .bestseller{
    color:chocolate;
}
.description .type{
    color: rgb(120, 109, 109);
}
.description a{
    color: black;
}